[Desktop Entry]
Name=mysqlcc
Comment=MySQL Control Center
Exec=mysqlcc
Terminal=false
Type=Application
Icon=mysqlcc
Categories=Qt;Office;Database;
# vi: encoding=utf-8
