[Desktop Entry]
Name=mysqlcc
Comment=MySQL Control Center
Exec=mysqlcc
Terminal=false
Type=Application
Icon=mysqlcc.xpm
Categories=Database;Engines&Servers;Front-Ends;
Encoding=UTF-8
# vi: encoding=utf-8

