[Desktop Entry]
Name=mysqlcc
Comment=MySQL Control Center
Exec=mysqlcc
Terminal=false
Type=Application
Icon=mysqlcc.png
Categories=Qt;Office;Database;
Encoding=UTF-8
# vi: encoding=utf-8

